<!doctype html>
<html>

<head>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102465318-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-102465318-3');
</script>

	<title>iCal Generator</title>
	<link rel="stylesheet" href="/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div id="wrapper">
		<!-- is used to center the entire page content -->
		<div id="container">
			<!-- container includes two columns -->
			<div class="row">
				<div class="col-3 col-m-9 col-p-8 bottom-margin-20px">
					<!-- 25% -->
					<a style="text-decoration: none" href="/">
						<div id="siteTitle">
							<a href="/" style="text-decoration:none;">Clear Form</a>
						</div>
					</a>
				</div>
				<div class="nav-wrapper col-9 col-m-3 col-p-4">
					<!-- 75% -->
					<div class="topNav" id="nav">
						

					</div>
				</div>
			</div>
			<!-- end of row -->

			{{{body}}}

			<div id="footer">

				

				<div class="row">
					<div class="col-12 col-m-12 col-p-12 top-margin-20px">
						<a href="https://aj-media.net" style="text-decoration:none;" target="_blank"><p id="copyright">&copy; Andrew Joseph | <script>document.write(new Date().getFullYear());</script></p></a>
					</div>





				</div>
				<!-- end of footer -->
			</div>
		</div>
		<script src="global.js"></script>
</body>

</html>